<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="VIEWER" />
            <allow roles="ADMIN" />
            <allow roles="AUTHOR" />
            <allow roles="OWNER" />
            <deny users="?" />
        </authorization>
    </system.web>
</configuration>