<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="ADMIN" />
            <deny users="?" />
            <deny roles="OWNER" />
            <deny roles="AUTHOR" />
            <deny roles="VIEWER" />
        </authorization>
    </system.web>
</configuration>